<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup" errorMessage="Data is required.">
    <form [formGroup]="firstFormGroup" fxFlex="100%" fxLayoutAlign="center center">
      <ng-template matStepLabel>{{ 'Brand & Model' }}</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'Brand' }}</mat-label>
        <input matInput formControlName="brand" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'Model' }}</mat-label>
        <input matInput formControlName="model" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-select placeholder="Electric?" formControlName="e_car">
          <mat-option [value]="true">{{ 'Yes' }}</mat-option>
          <mat-option [value]="false">{{ 'No' }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <div align="end">
      <button mat-raised-button color="primary" matStepperNext
        [disabled]="!firstFormGroup.valid">{{ 'NEXT' }}</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" errorMessage="Data is required.">
    <form [formGroup]="secondFormGroup" fxFlex="100%" fxLayoutAlign="center center">
      <ng-template matStepLabel>{{ 'KM | Year | Shift' }}</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'KM' }}</mat-label>
        <input matInput formControlName="km" type="number" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'Year' }}</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="year">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-select placeholder="Shift?" formControlName="shift">
          <mat-option value="manual">{{ 'Manual' }}</mat-option>
          <mat-option value="automatic">{{ 'Automatic' }}</mat-option>
          <mat-option value="secuencial">{{ 'Secuencial' }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <div align="end">
      <button mat-button matStepperPrevious color="accent">Back</button>
      <button mat-raised-button matStepperNext color="primary"
        [disabled]="!secondFormGroup.valid">{{ 'NEXT' }}</button>
    </div>
  </mat-step>
  <mat-step>
    <form [formGroup]="thirdFormGroup" fxFlex="100%" fxLayoutAlign="center center">
      <ng-template matStepLabel>{{ 'Fuel | Color | Type' }}</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'Fuel' }}</mat-label>
        <input matInput formControlName="fuel" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'Color' }}</mat-label>
        <input matInput formControlName="color" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'Type' }}</mat-label>
        <input matInput formControlName="car_type" required>
      </mat-form-field>
    </form>
    <div fxFlex="100%">
      <div fxFlex="70%">
        <button mat-raised-button color="warn" (click)="stepper.reset()">Reset</button>
      </div>
      <div fxFlex="30%" align="end">
        <button mat-button matStepperPrevious color="accent">Back</button>
        <button mat-raised-button matStepperNext color="primary"
          [disabled]="!thirdFormGroup.valid" (click)="save()">{{ 'SAVE' }}</button>
      </div>
    </div>
  </mat-step>
</mat-stepper>
