<mat-card class="mat-elevation-z4">
  <mat-card-header>
    <mat-card-title>
      {{car.brand}} {{car.model}}
    </mat-card-title>
  </mat-card-header>

  <div class="divImg">
    <ng-container [ngTemplateOutlet]="car?.brand === 'BMW' ? BMW : MERCEDES">
    </ng-container>
  </div>

  <mat-card-content>
    <p>
      <b>{{ 'Year: ' }}</b>
      <span>{{ car.year | date }}</span>
      <span>{{ ' | ' }}</span>
      <b>{{ 'KM: ' }}</b>
      <span>{{ car.km }}</span>
    </p>
    <p>
      <b>{{ 'Shift: ' }}</b>
      <span>{{ car.shift }}</span>
      <span>{{ ' | ' }}</span>
      <b>{{ 'Color: ' }}</b>
      <span>{{ car.color }}</span>
    </p>
    <p>
      <b>{{ 'Fuel: ' }}</b>
      <span>{{ car.fuel }}</span>
      <span>{{ ' | ' }}</span>
      <b>{{ 'Type: ' }}</b>
      <span>{{ car.car_type }}</span>
    </p>
  </mat-card-content>
</mat-card>

<ng-template #BMW>
  <img mat-card-image src="assets/BMW_logo.svg" alt="BMW Logo">
</ng-template>

<ng-template #MERCEDES>
  <img mat-card-image src="assets/Mercedes_logo.svg" alt="MERCEDES Logo">
</ng-template>
